/* On every stylesheet */
/* *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
} */

/* container */
.dots-container{
    display: flex;
    justify-content: center;
}

/* items */
.dot-item{
    display: inline-block;
    outline: 2px solid white;
}


