/* On every stylesheet */
/* *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
} */

.workout-number-style{
    font-size: 2rem;
}

.left-arrow-styles {
   color: rgba(211,78,78,0.781);
   position: absolute;
   top: 100%;
   transform: translate(0, -50%);
   left: 24%;
   font-size: 65px;
   z-Index: 1;
   cursor: pointer;
   color: rgba(211, 78, 78, 0.781);
   transition: color .4s linear;
}

.left-arrow-styles:hover,
.left-arrow-styles:hover::after{
    cursor: pointer;
    color: #00d3f8;

    transition: color 0.23s linear;
}

.right-arrow-styles {
    color: rgba(211,78,78,0.781);
    position: absolute;
    top: 100%;
    transform: translate(0, -50%);
    right: 24%;
    font-size: 65px;
    z-Index: 1;
    cursor: pointer;
    color: rgba(211, 78, 78, 0.781);
    transition: color .4s linear;
 }
 
 .right-arrow-styles:hover,
 .right-arrow-styles:hover::after{
     cursor: pointer;
     color: #00d3f8;
 
     transition: color 0.23s linear;
 }

/* container */
.dots-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* items */
.dot-item{
    font-size: 2rem;
    color: rgba(211,78,78,0.781);
    cursor: pointer;
    background: transparent;
    margin: 0 1rem;
}

.dot-selected{
    font-size: 2rem;
    color: #00d3f8;
    cursor: pointer;
    background: transparent;
    margin: 0 1rem;
}


