.container {
    display: grid;
    grid-template-rows: 1fr 1fr 4fr 4fr;
}

.archive-button {
    padding-left: 776px; 
}


.header{
   /* background-color: aqua; */
    display: flex;
    justify-content: center;
    outline: 3px solid red
}

.header-title {
    
}


.last-workout{
   /* background-color: rgb(140, 140, 221); */
   
}

.current{
   /* background-color: rgb(30, 189, 210); */
   
}

.nav-buttons{
    background-color: cornflowerblue;
}

.new-button{
    margin-left: 55em;
}
