.chest-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 20vh;
}


.header{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 80vw;
    background: #00000083;
}

.last-workout{
    border-radius: 15px;
    padding: 2.5rem 0rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 80vw;
    /* Concerning the Weather App tutorial, which had a color of #000000d0 "Lets make the color 000000 with a transparency of d0" */
    background: #00000083;
    /* background-color: rgb(42, 165, 165); */ 
}

.last-workout:hover {
    cursor: pointer;
}


.current{
    border-radius: 15px;
    display: flex;
    flex-direction:column;
    align-items: flex-start !important;
    width: 75vw;
    padding: 2rem 0rem 2rem 5vw;
    /* Concerning the Weather App tutorial, which had a color of #000000d0 "Lets make the color 000000 with a transparency of d0" */
    background: #00000083;
    /* background-color: rgb(42, 165, 165); */
   
}

.current:hover {
    cursor: pointer;;
}

.nav-buttons{
    /* outline: 3px solid rgb(255, 115, 0); */
    margin: 0 !important;
    width: 100%;
    display: flex;
}

.new-button{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    height:68%;
    margin: 2px;
    padding: 3px;
    text-transform: uppercase;
    font-size: 20px;
    color: rgba(211, 78, 78, 0.781);
    text-shadow: 0px 0px 3px rgba(211,78,78,0.91);
    cursor:pointer;

    /* Animation */
    transition: color .4s linear;
}

.new-button:hover,
.new-button:hover::after{
    color: #00d3f8;
    transition: color 0.23s linear;
}

.back-button{
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    height:68%;
    margin: 2px;
    padding: 3px;
    text-transform: uppercase;
    font-size: 20px;
    color: rgba(211, 78, 78, 0.781);
    text-shadow: 0px 0px 3px rgba(211,78,78,0.91);
    cursor:pointer;

    /* Animation */
    transition: color .4s linear;
}

.back-button:hover,
.back-button:hover::after{
    color: #00d3f8;
    transition: color 0.23s linear;
}

body {
    color: rgba(211,78,78,0.91);
}

.last-workout {
    color:rgba(211,78,78,0.91);
}

table, th, td {
    border: 2px solid rgba(211,78,78,0.91);
    color: rgba(211,78,78,0.91);
    text-align: center;
    height:60px;
    width: 40vw;
  }

  .archive-button {
    border: solid;
    border-radius: 15px;
    width: 80vw;
    border-width: 2px;
    border-color: #00d3f8;
    display: flex;
    justify-content: right;
}

.archive-child{
    background-color: transparent;
    border: none;
    height:30%;
    margin: 12px;
    text-transform: uppercase;
    font-size: 19px;
    color: rgba(211, 78, 78, 0.781);
    text-shadow: 0px 0px 3px rgba(211,78,78,0.91);
    cursor:pointer;

    /* Animation */
    transition: color .4s linear;
}

.archive-child:hover,
.archive-child:hover::after{
    color: #00d3f8;
    border-color: #00d3f8;
    transition: color 0.23s linear;
}

