

.last-workout {
    color:rgba(211,78,78,0.91);
}

table, th, td {
    border: 1px solid rgba(211,78,78,0.91);
    color: rgba(211,78,78,0.91);
    text-align: center;
    height:60px;
    width: 520px;
  }

  .archive-button {
    border: solid;
    border-radius: 15px;
    resize: none;
    height:65px;
    border-width: 2px;
    border-color: #00d3f8;
    display: flex;
    justify-content: right;

    transition: color 1s linear;
}




/* Archive-child is the actual button, archive-button is the div around that button. */
.archive-child{
    background-color: transparent;
    border: none;
    height:30%;
    margin: 22px;
    text-transform: uppercase;
    font-size: 19px;
    color: rgba(211, 78, 78, 0.781);
    text-shadow: 0px 0px 3px rgba(211,78,78,0.91);
    cursor:pointer;

    /* Animation */
    transition: color .4s linear;
}

.archive-child:hover,
.archive-child:hover::after{
    color: #00d3f8;
    border-color: #00d3f8;

    transition: color 0.23s linear;

    /* background, blends nicely if this is a button, otherwise leave it out. */
    /* background: rgb(0,0,0,0.25) */
}


.header{
   /* background-color: aqua; */
    display: flex;
    border-radius: 15px;
    margin: 30px;
    /* Concerning the Weather App tutorial, which had a color of #000000d0 "Lets make the color 000000 with a transparency of d0" */
    background: #00000083;
    /* background-color: rgb(42, 165, 165); */ 
}

.header-title{
    justify-content: center;
}




.last-workout{
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction:column;
    margin: 30px;
    /* Concerning the Weather App tutorial, which had a color of #000000d0 "Lets make the color 000000 with a transparency of d0" */
    background: #00000083;
    /* background-color: rgb(42, 165, 165); */ 

    transition: scale(1.00) .8s ease;
}

.last-workout:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
}


.current{
    border-radius: 15px;
    display: flex;
    flex-direction:column;
    margin: 30px;
    /* Concerning the Weather App tutorial, which had a color of #000000d0 "Lets make the color 000000 with a transparency of d0" */
    background: #00000083;
    /* background-color: rgb(42, 165, 165); */
   
}

.current:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
}


.new-button{
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    height:68%;
    margin: 2px;
    padding: 3px;
    text-transform: uppercase;
    font-size: 20px;
    color: rgba(211, 78, 78, 0.781);
    text-shadow: 0px 0px 3px rgba(211,78,78,0.91);
    cursor:pointer;

    /* Animation */
    transition: color .4s linear;
}

.new-button:hover,
.new-button:hover::after{
    color: #00d3f8;

    transition: color 0.23s linear;

    /* background, blends nicely if this is a button and the button is customized.., otherwise leave it out. */
    /* background: rgb(0,0,0,0.25)*/ 
}

.back-button{
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    height:68%;
    margin: 2px;
    padding: 3px;
    text-transform: uppercase;
    font-size: 20px;
    color: rgba(211, 78, 78, 0.781);
    text-shadow: 0px 0px 3px rgba(211,78,78,0.91);
    cursor:pointer;

    /* Animation */
    transition: color .4s linear;
}

.back-button:hover,
.back-button:hover::after{
    color: #00d3f8;

    transition: color 0.23s linear;

    /* background, blends nicely if this is a button and the button is customized.., otherwise leave it out. */
    /* background: rgb(0,0,0,0.25)*/ 
}

