.archive-header{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin: 30px;
    color:rgba(0, 243, 41, 0.91);
    background: #00000083;
}

.archive-header-title{
    color:rgba(0, 243, 41, 0.91);
    justify-content: center;
}

.individual-table{
    display: flex;
    flex-direction:column;
    margin: 0 auto;
    justify-content: center;
    background: #00000083;

}


.page-four-table th,
.page-four-table td,
.page-four-table{
    margin: 0 auto;
    border: 1px solid rgba(128, 238, 3, 0.91);
    color: rgba(0, 243, 41, 0.91);
}



.fresh {
    position: relative;
    margin: 0 auto;
    justify-content: center;
    cursor: pointer;
    color: rgba(211,78,78,0.91);
    height: 60px;
    width: 60px;
    border: none;
    background-color: transparent;
}
