.table-container{
  border-radius: 15px;
  padding: 30px 50px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin: 0 auto;
  /* Concerning the Weather App tutorial, which had a color of #000000d0 "Lets make the color 000000 with a transparency of d0" */
  background: #00000083;
  /* background-color: rgb(42, 165, 165); */ 

  transition: scale(1.00) .8s ease;
}





.delete-button, .edit-button{
  display: flex;
  justify-content: center;
  background-color:transparent;
  padding: 0;
  margin:0;
  border: none;
  height:30%;
  height:33px;
  text-transform: uppercase;
  font-size: 30px;
  color: rgba(211, 78, 78, 0.781);
  text-shadow: 0px 0px 3px rgba(211,78,78,0.91);
  cursor:pointer;
  
  /* Animation */
  transition: color .4s linear;
  }

.delete-button:hover,
.delete-button:hover::after{
    color: #00d3f8;
    border-color: #00d3f8;

    transition: color 0.23s linear;

    /* background, blends nicely if this is a button, otherwise leave it out. */
    /* background: rgb(0,0,0,0.25) */
}

.edit-button:hover,
.edit-button:hover::after{
    color: #00d3f8;
    border-color: #00d3f8;
    transition: color 0.23s linear;

    /* background, blends nicely if this is a button, otherwise leave it out. */
    /* background: rgb(0,0,0,0.25) */
}

  .table {
    text-align: center;
    position: relative;
    left: 15px;
  }

.page-three-archive-button{
position:relative;
top: 90%;
left: 56%;
background-color: transparent;
align-items: center;
justify-content: center;
border: none;
width:300px;
height:35%;
margin: 6px;
text-transform: uppercase;
font-size: 23px;
color: rgba(211, 78, 78, 0.781);
text-shadow: 0px 0px 3px rgba(211,78,78,0.91);
cursor:pointer;

/* Animation */
transition: color .4s linear;
}
.page-three-archive-button:hover,
.page-three-archive-button:hover::after{
    color: #00d3f8;
    border-color: #00d3f8;

    transition: color 0.23s linear;

    /* background, blends nicely if this is a button, otherwise leave it out. */
    /* background: rgb(0,0,0,0.25) */
}

.edit-buttons{
  background-color: transparent;
  border:none;
  font-size: 22px;
  color: rgba(0, 243, 41, 0.91);
  transition: color .4s linear;
}



.edit-buttons:hover,
.edit-buttons:hover::after{
  cursor: pointer;
  color: rgb(170, 243, 225);
  transition: color 0.23s linear;
}



.submit-button{
  background-color: transparent;
  border:none;
}
