
.small-container{
  outline: 5px solid white;
  margin-right: 10vw;
}
.phone-cover{
    padding: 5vh;
    height: 90vh;
    width: 90vw;
    outline: 1px dotted purple;
}

.buttons{
    position: relative;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: space-between;
    width: 25vw;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border-right: 1px solid  #00d3f8;
    border-top: 1px solid  #00d3f8;
    border-left: 1px solid  #00d3f8;
    background: repeating-linear-gradient(
        to bottom,
        transparent 0%,
        var(--red-scanline) 1px,
        var(--red-scanline) 3px,
        var(--red-scanline) 5px,
        var(--red-scanline) 4px,
        transparent 0.5%
      ),
      repeating-linear-gradient(
        to left,
        var(--black-scanline) 100%,
        var(--black-scanline) 100%
      );;
    background-size: 100%;
    opacity:1;
    z-index: 1;
  }

.buttons-bottom {
  position: relative;
  bottom: 36.2vh;
  display: flex;
  align-items:center;
  text-align: center;
  justify-content: center;
  width: 5vw;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border-right: 1px solid  #00d3f8;
  border-bottom: 1px solid  #00d3f8;
  border-left: 1px solid  #00d3f8;
  background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );;
  background-size: 100%;
  opacity:1;
  z-index: 1;
}

.screen-button {
        display: flex;
        justify-content: center;
        background-color:transparent;
        padding: 0;
        margin:0;
        border: none;
        height:30%;
        text-transform: uppercase;
        font-size: 19px;
        color: rgba(211, 78, 78, 0.781);
        text-shadow: 0px 0px 3px rgba(211,78,78,0.91);
        cursor:pointer;
        
        /* Animation */
        transition: color .4s linear;
        }
        
        .screen-button:hover,
        .screen-button:hover::after{
        color: #00d3f8;
        border-color: #00d3f8;
        
        transition: color 0.23s linear;
        
        /* background, blends nicely if this is a button, otherwise leave it out. */
        /* background: rgb(0,0,0,0.25) */
    
}

.screen-button-selected{
  display: flex;
        justify-content: center;
        background-color:transparent;
        padding: 0;
        margin:0;
        border: none;
        height:30%;
        text-transform: uppercase;
        font-size: 19px;
        color: #00d3f8;
        text-shadow: 0px 0px 3px rgba(252, 252, 252, 0.91);
        cursor:pointer;
        
        }

.small-container{
        display: flex;
        margin: 0;
        height: 650px;
        width: 2300px;
        outline: 2px solid red;
        }


.sprints-container{
          align-items: center;
          width: 91.43em;
          height: 34.325em;
          margin-left: 5vw;
          margin-right: 5vw;
          outline: 1px solid #f8df00;
          border-radius: 15px;
          padding: 50px;
          display: flex;
          flex-direction:column;
          /* Concerning the Weather App tutorial, which had a color of #000000d0 "Lets make the color 000000 with a transparency of d0" */
          background: repeating-linear-gradient(
              to bottom,
              transparent 0%,
              var(--red-scanline) 1px,
              var(--red-scanline) 3px,
              var(--red-scanline) 5px,
              var(--red-scanline) 4px,
              transparent 0.5%
            ),
            repeating-linear-gradient(
              to left,
              var(--black-scanline) 100%,
              var(--black-scanline) 100%
            );;
          background-size: 100%;
          opacity:1;
          z-index: -1;
          /* background-color: rgb(42, 165, 165); */ 
      }
      
.mph-chart{
        display: flex;
        outline: 2px solid orange;
        width: 1000px;
      }
      
.update-window{
        display: flex;
        position: relative;
        right: 300px;
        bottom: 0px;
        margin-left: 0px;
        outline: 2px dotted yellowgreen;
        height: 53.5vh;
        width: 20vw;
      }
      
