.aqi-chart{
    width: 92%;
    height: 30em;
    outline: 2px dotted #B026FF;
    background: #00000083;
    border-radius: 25px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    /* margin-bottom: 30px; */
}

.green{
    color: #1FFF0F;

    outline: 2px dotted #B026FF;
    display: inline-block;
    width: auto;
    position:relative;
    margin: 4rem 1rem 0rem 1rem;
    padding: 1rem;
    top: 20%;
    left: 45%;
    font-size: 2.4rem;
}

.orange{
    color: #FF6700;

    outline: 2px dotted #B026FF;
    display: inline-block;
    width: auto;
    position:relative;
    margin: 4rem 1rem 0rem 1rem;
    padding: 1rem;
    top: 20%;
    left: 45%;
    font-size: 2.4rem;
}

/* Air Quality Colors begin */
.ten{
    color: #26ffff;

    padding: 1rem;    
    border-radius: 10px;
    font-size: 3.4rem;
    /* color:rgba(211,78,78,0.91); */
    outline: 2px solid rgba(211,78,78,0.91);
    margin-top: 40px;
    margin-bottom: 40px;
}

.twenty{
    color: #00ff95;
    
    padding: 1rem;    
    border-radius: 10px;
    font-size: 3.4rem;
    /* color:rgba(211,78,78,0.91); */
    outline: 2px solid rgba(211,78,78,0.91);
    margin-top: 40px;
    margin-bottom: 40px;
}

.thirty{
    color: rgb(0, 255, 145);

    padding: 1rem;    
    border-radius: 10px;
    font-size: 3.4rem;
    /* color:rgba(211,78,78,0.91); */
    outline: 2px solid rgba(211,78,78,0.91);
    margin-top: 40px;
    margin-bottom: 40px;
}

.forty{
    color: rgb(255, 196, 0);

    padding: 1rem;    
    border-radius: 10px;
    font-size: 3.4rem;
    /* color:rgba(211,78,78,0.91); */
    outline: 2px solid rgba(211,78,78,0.91);
    margin-top: 40px;
    margin-bottom: 40px;
}

.fifty{
    color: rgb(255, 166, 0);

    padding: 1rem;    
    border-radius: 10px;
    font-size: 3.4rem;
    /* color:rgba(211,78,78,0.91); */
    outline: 2px solid rgba(211,78,78,0.91);
    margin-top: 40px;
    margin-bottom: 40px;
}

.sixty{
    color: rgb(255, 123, 0);

    padding: 1rem;    
    border-radius: 10px;
    font-size: 3.4rem;
    /* color:rgba(211,78,78,0.91); */
    outline: 2px solid rgba(211,78,78,0.91);
    margin-top: 40px;
    margin-bottom: 40px;
}

.seventy{
    color: rgb(255, 47, 0);

    padding: 1rem;    
    border-radius: 10px;
    font-size: 3.4rem;
    /* color:rgba(211,78,78,0.91); */
    outline: 2px solid rgba(211,78,78,0.91);
    margin-top: 40px;
    margin-bottom: 40px;
}

.eighty{
    color: rgb(255, 4, 0);

    padding: 1rem;    
    border-radius: 10px;
    font-size: 3.4rem;
    /* color:rgba(211,78,78,0.91); */
    outline: 2px solid rgba(211,78,78,0.91);
    margin-top: 40px;
    margin-bottom: 40px;
}

.ninety{
    color: rgb(255, 0, 0);

    padding: 1rem;    
    border-radius: 10px;
    font-size: 3.4rem;
    /* color:rgba(211,78,78,0.91); */
    outline: 2px solid rgba(211,78,78,0.91);
    margin-top: 40px;
    margin-bottom: 40px;
}

.hundred{
    color: rgb(89, 255, 0);

    padding: 1rem;    
    border-radius: 10px;
    font-size: 3.4rem;
    /* color:rgba(211,78,78,0.91); */
    outline: 2px solid rgba(211,78,78,0.91);
    margin-top: 40px;
    margin-bottom: 40px;
}
/* Air Quality Colors end */