.aqi-chart {
    width: 90%;
    height: 30%;
    background: #00000083;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            var(--red-scanline) 1px,
            var(--red-scanline) 3px,
            var(--red-scanline) 5px,
            var(--red-scanline) 4px,
            transparent 0.5%),
        repeating-linear-gradient(to left,
            var(--black-scanline) 100%,
            var(--black-scanline) 100%);
    ;
    outline: 2px solid #00d3f8;
    border-radius: 25px;
}

.green {
    color: #1FFF0F;
    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            var(--red-scanline) 1px,
            var(--red-scanline) 3px,
            var(--red-scanline) 5px,
            var(--red-scanline) 4px,
            transparent 0.5%),
        repeating-linear-gradient(to left,
            var(--black-scanline) 100%,
            var(--black-scanline) 100%);
    ;
    border-right: 2px solid #00d3f8;
    border-top: 2px solid #00d3f8;
    border-left: 2px solid #00d3f8;
    border-radius: 8px;
    display: inline-block;
    width: auto;
    position: relative;
    margin: 5rem 1rem -.2rem 1rem;
    padding: 1rem;
    top: 23%;
    left: 45%;
    font-size: 2.4rem;
}

.orange {
    color: #FF6700;
    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            var(--red-scanline) 1px,
            var(--red-scanline) 3px,
            var(--red-scanline) 5px,
            var(--red-scanline) 4px,
            transparent 0.5%),
        repeating-linear-gradient(to left,
            var(--black-scanline) 100%,
            var(--black-scanline) 100%);
    ;
    border-right: 2px solid #00d3f8;
    border-top: 2px solid #00d3f8;
    border-left: 2px solid #00d3f8;
    border-radius: 8px;
    display: inline-block;
    width: auto;
    position: relative;
    margin: 5rem 1rem -.2rem 1rem;
    padding: 1rem;
    left: 45%;
    font-size: 2.4rem;
}

