:root {
  --red: rgba(211, 87, 91, 0.81);
  --red-glow: rgba(211, 87, 91, 0.91);
  --red-scanline: rgba(204, 94, 98, 0.2);
  --black-scanline: rgba(1, 1, 1, 0.9);
  --black-hover-background: rgba(0, 0, 0, 0.25);
  --blue: #61e4fa;
  --yellow: #f7f500;
  --text-shadow: rgb(0, 208, 255);
}

.nav {
  /* flex box layout */
  position: fixed;
  top: 0px;
  width: 99.9%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid rgb(73, 73, 63);
}

.nav a {
  text-decoration: none;
}

.nav-title {
  padding-top: 1em;
  display: flex;
  color: #f2f2f2;
}

.project{
  display: flex;
  width: 100vw;
  text-align: center;
  justify-content: center;
}

.glitch {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  position: inherit;
  text-shadow:
    0.05em 0 0 rgba(255 ,0 ,0 ,0.75),
    -0.025em -0.05em 0 rgba(0 ,255 ,0 , 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: cyber 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 1em;
  left: 0vw;
}

.glitch span:first-child {
  animation: cyber 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-.025em, -0.0125em);
  opacity: 0.8;
}

.glitch span:last-child {
  animation: cyber 375ms infinite;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  transform: translate(.05em, 0.025em);
  opacity: 0.8;
}

@keyframes cyber {
  0% {
    text-shadow:
    0.05em 0 0 rgba(255 ,0 ,0 ,0.75),
    -0.025em -0.05em 0 rgba(0 ,255 ,0 , 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow:
    0.05em 0 0 rgba(255 ,0 ,0 ,0.75),
    -0.025em -0.05em 0 rgba(0 ,255 ,0 , 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow:
    -0.05em -0.025em 0 rgba(255 ,0 ,0 ,0.75),
    0.025em 0.025em 0 rgba(0 ,255 ,0 , 0.75),
    -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  } 
  49% {
    text-shadow:
    -0.05em -0.025em 0 rgba(255 ,0 ,0 ,0.75),
    0.025em 0.025em 0 rgba(0 ,255 ,0 , 0.75),
    -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  } 
  50% {
    text-shadow:
    0.025em 0.05em 0 rgba(255 ,0 ,0 ,0.75),
    0.05em 0 0 rgba(0 ,255 ,0 , 0.75),
    0 -0.05em 0 rgba(0, 0, 255, 0.75);
  } 
  99% {
    text-shadow:
    0.025em 0.05em 0 rgba(255 ,0 ,0 ,0.75),
    0.05em 0 0 rgba(0 ,255 ,0 , 0.75),
    0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow:
    -0.025em 0 0 rgba(255 ,0 ,0 ,0.75),
    -0.025em -0.025em 0 rgba(0 ,255 ,0 , 0.75),
    -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

.navLink {
  margin-top: 2%;
  margin-bottom: 6%;
  margin-right: 5%;
  font-family: 'JetBrains Mono', monospace;
  color: #f2f2f2;
  background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );
  text-decoration: none;
  font-size: 20px;
  padding: 0px !important;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  /* outline: solid red 2px; */
  right: 0;
  align-items: center;
}

.navLink:hover {
  background-color: #008183;
}

.nav-button-wrapper {
  /* outline: solid rgb(255, 191, 0) 2px; */
  width: 50%;
  height: 35%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

/*-----------Hamburger-----------*/
.hamburger {
  display: none;
}
/* ----------------------------- */

@media screen and (max-width: 800px){ 

.hamburger {
  display: block;
  padding-right: 2rem;
}

.navLink {
  display: none;
}

}

@media screen and (max-width: 414px){ 

  .glitch {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .glitch span {
    position: absolute;
    top: 3vh;
    left: 0vw;
  }

}

