.select-menu{
    /* outline: 2px solid red; */
}


.select-menu{
    /* background-color: aqua; */
     display: flex;
     border-radius: 15px;
     margin: 10px;
     width: 750px;
     /* Concerning the Weather App tutorial, which had a color of #000000d0 "Lets make the color 000000 with a transparency of d0" */
     background: #00000083;
     /* background-color: rgb(42, 165, 165); */
     transition-property: all;
     transition-duration: 500ms;
 }
 
 .select-menu:hover,
 .select-menu:hover::after {
     cursor: pointer;
     /* transition: all 1s ease; */
 }



html{
    background-image: url(https://images.unsplash.com/photo-1610322231968-31322d42851f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2836&q=80);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(110,36,68,0.8057598039215687) 50%, rgba(2,16,19,1) 100%); */
}

.air-quality-button{
    background-color: transparent;
    border: none;
    margin-top: 19px;
    text-transform: uppercase;
    font-size: 19px;
    color: rgba(211, 78, 78, 0.781);
    text-shadow: 0px 0px 3px rgba(211,78,78,0.91);
    cursor:pointer;

    /* Animation */
    transition: color .4s linear;
}

.air-quality-button:hover,
.air-quality-button:hover::after{
    color: #00d3f8;
    border-color: #00d3f8;

    transition: color 0.23s linear;

    /* background, blends nicely if this is a button, otherwise leave it out. */
    /* background: rgb(0,0,0,0.25) */
}

