/* PARENT */
.one-container {
    outline: 2px dotted #B026FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95vw;
    gap: 1rem;
    margin: 30% auto 0 auto;
}

/* CHILD */
.select-menu {
    display: flex;
    outline: 2px dotted #26ff47;
    margin: 4rem auto;
    justify-content: center;
    border-radius: 25px;
    width: 90%;
    padding: 2em;
    background: #00000083;
    transition-property: all;
    transition-duration: 500ms;
}

.select-menu:hover,
.select-menu:hover::after {
    cursor: pointer;
    /* transition: all 1s ease; */
}

/* CHILD */
.air-quality-button {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: rgba(211, 78, 78, 0.781);
    text-shadow: 0px 0px 3px rgba(211, 78, 78, 0.91);
    cursor: pointer;

    /* Animation */
    transition: color .4s linear;
}

.air-quality-button:hover,
.air-quality-button:hover::after {
    color: #00d3f8;
    border-color: #00d3f8;
    transition: color 0.23s linear;
}

.card {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

/* CHILD - Container of everything inside AirQuality.jsx */
.air-quality-box {
    display: block;
    position: relative;
    border-radius: 20px;
    background: #00000083;
    margin: auto;
    width: 90vw;
    margin: 10em auto auto auto;
    padding: 0rem 3rem 3rem 3rem;
    margin-bottom: 1%;
}

.exit-air-quality-box{
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    transition: all 1s;
    color: rgba(211, 78, 78, 0.781);
}

.exit-air-quality-box:hover {
    -webkit-transform: rotate(90deg) translateZ(0);
    color: #00d3f8;
  }

.aqi-chart-buttons {
    display: inline-block;
    /* This relative positive with 2px bump, with z-index at 1 lifts the buttons above the aqi-chart to give necessary effect */
    position: relative;
    bottom: 2px;
    margin-left: 80%;
    border-top: none;
    border-right: 1px solid #00d3f8;
    border-bottom: 1px solid #00d3f8;
    border-left: 1px solid #00d3f8;
    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            var(--red-scanline) 1px,
            var(--red-scanline) 3px,
            var(--red-scanline) 5px,
            var(--red-scanline) 4px,
            transparent 0.5%),
        repeating-linear-gradient(to left,
            var(--black-scanline) 100%,
            var(--black-scanline) 100%);
    ;
    opacity: 1;
    z-index: 1;
    border-radius: 9px;
}

.individual-aqi-chart-buttons {
    background-color: transparent;
    padding: 1rem;
    margin: 0;
    border: none;
    height: 30%;
    text-transform: uppercase;
    font-size: 1.9rem;
    color: rgba(211, 78, 78, 0.781);
    text-shadow: 0px 0px 3px rgba(211, 78, 78, 0.91);
    cursor: pointer;
    /* Animation */
    transition: color .4s linear;
}

.individual-aqi-chart-buttons:hover,
.individual-aqi-chart-buttons:hover::after {
    color: #00d3f8;
    border-color: #00d3f8;
    transition: color 0.23s linear;
}

/* @media screen and (max-width: 414px){ 
    .select-menu{
        width: 80%;
    }
  } */