
/* .container {
    display: grid;
    padding: 0;
    gap: 2em;
    grid-template-rows: .4fr .4fr 3.5fr 0.6fr 0.6fr;
} */

.legs-container{
    display: block;
    margin-top: 10%;
    margin: 14rem 6rem;
    padding: 0rem 5rem;
}

.legs-container > * {
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 15px;
}

.last-workout {
    color:rgba(211,78,78,0.91);
}

table, th, td {
    border: 1px solid rgba(211,78,78,0.91);
    color: rgba(211,78,78,0.91);
    text-align: center;
    height:60px;
    width: 520px;
  }

.legs-archive-button {
    border: solid;
    resize: none;
    width: 90%;
    border-width: 2px;
    border-color: #00d3f8;
    display: flex;
    justify-content: right;   
}






.archive-child{
        /* color:#fff;
        border:none;
        padding:10px 30px;
        background:
        linear-gradient(143deg,green 70%,transparent 72%) 100% 0/20px 100% no-repeat,
        linear-gradient(-37deg,green 70%,transparent 72%) 0 0/20px 100% no-repeat,
        linear-gradient(green,green) 20px 0/calc(100% - 40px) 100% no-repeat; */
    background-color: transparent;
    border: none;
    height:30%;
    margin: 22px;
    text-transform: uppercase;
    font-size: 19px;
    color: rgba(211, 78, 78, 0.781);
    text-shadow: 0px 0px 3px rgba(211,78,78,0.91);
    cursor:pointer;

    /* Animation */
    transition: color .4s linear;
}

.archive-child:hover,
.archive-child:hover::after{
    color: #00d3f8;
    border-color: #00d3f8;

    transition: color 0.23s linear;

    /* background, blends nicely if this is a button, otherwise leave it out. */
    /* background: rgb(0,0,0,0.25) */
}


.legs-header{
   /* background-color: aqua; */
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 0.8rem;
    width: 90%;
    /* Concerning the Weather App tutorial, which had a color of #000000d0 "Lets make the color 000000 with a transparency of d0" */
    background: #00000083;
    /* background-color: rgb(42, 165, 165); */ 
}



/* PARENT */
.last-workout-legs{
    width: 85%;
    height: auto;
    outline: 4px solid rgba(78, 206, 211, 0.91);
    border-radius: 15px;
    padding: 4rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    /* Concerning the Weather App tutorial, which had a color of #000000d0 "Lets make the color 000000 with a transparency of d0" */
    background: #00000083;
    background-size: 100%;
    opacity:1;
    /* background-color: rgb(42, 165, 165); */ 
}


.last-workout-legs > p {
    display:flex;
    justify-content: right;
}

.last-workout:hover {
    cursor: pointer;
}

.current{
    border-radius: 15px;
    display: flex;
    flex-direction:column;
    margin: 30px;
    /* Concerning the Weather App tutorial, which had a color of #000000d0 "Lets make the color 000000 with a transparency of d0" */
    background: #00000083;
    /* background-color: rgb(42, 165, 165); */
   
}

.current:hover {
    cursor: pointer;
}

.new-button{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    border: none;
    width: 20vw;
    padding: 1em 1.5em;
    text-transform: uppercase;
    font-size: 2rem;
    color: rgba(211, 78, 78, 0.781);
    text-shadow: 0px 0px 3px rgba(211,78,78,0.91);
    cursor:pointer;

    /* Animation */
    transition: color .4s linear;
}

.new-button:hover,
.new-button:hover::after{
    color: #00d3f8;
    transition: color 0.23s linear;
}

.back-button{
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    width: 20vw;
    padding: 1em 1.5em;
    text-transform: uppercase;
    font-size: 2rem;
    color: rgba(211, 78, 78, 0.781);
    text-shadow: 0px 0px 3px rgba(211,78,78,0.91);
    cursor:pointer;

    /* Animation */
    transition: color .4s linear;
}

.back-button:hover,
.back-button:hover::after{
    color: #00d3f8;
    transition: color 0.23s linear;
    /* background, blends nicely if this is a button and the button is customized.., otherwise leave it out. */
    /* background: rgb(0,0,0,0.25)*/ 
}

/* 2022 UPDATE, all are CHILDREN of .last-workout-legs. I lost my notebook >:( */
.sprint-container{
    font-size: 2em;
    margin-top: 3ch;
    display: flex;
    justify-content: start;
    /* outline: 2px solid red; */
}

.sprint-container > *{
    text-align: center;
    background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );
    opacity: 1;
    margin-right: 1.5ch;
    min-width: 12;
    padding: 1ch;
    border-radius: 6px;
    outline: 3px solid rgba(83, 22, 22, 0.91);
}

.sending-data-window {
    background: #000000da;
    margin: 3rem 1.8rem 1.1rem 0rem;
    padding: 3rem 3rem 2rem 3rem;
    outline: 2px solid  #0cfff4;
    border-radius: 4px;
    width: 80%;
    min-height: 18rem;
}

.window-response{
    position: relative;
    background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );
    width: 95%;
    min-height: 20rem;
    margin: 1rem;
    padding: .5em;
    outline: 1px solid rgba(78, 206, 211, 0.91);
}

.confirm-button{
    position: absolute;
    right: 2px;
}