/* Container */
.hours{
    display: flex;
    width: 100%;
    height: 100%;
    /* outline: 2px dotted #B026FF; */
    background: #00000083;
    border-radius: 25px;
    padding: 50px;
    /* margin-bottom: 30px; */
}

/* item  */
.modal-title{
    /* display: block; */
    /* outline: 2px solid red; */
    margin-left: 30vw;
    width: 40%;
}

/* In .map method */
.first-span{
    display: block;
    /* outline: 2px dotted rgb(127, 118, 220); */
    padding-left: 6vw;
    color: #B026FF;

}

.aqi-display{
    display:grid;
    align-content: center;
    grid-template-columns: 1;
    /* outline: 2px solid rgb(71, 205, 50); */
    width: 24%;
    height: 24%;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 5%;
    margin-bottom: 8%;
    align-items: center;
}

.aqi-display > *{
    border-radius: 10px;
    position: relative;
    align-self: stretch;
    padding: 30px 0px 30px 55px;
    font-size: 3.4rem;
    /* color:rgba(211,78,78,0.91); */
    outline: 2px solid rgba(211,78,78,0.91);;
}

li{
    margin: 1.5rem;
}

/* Air Quality Colors */
.aqi-low{
    color: #B026FF;
}

.aqi-moderate{
    color: #FF6700;    
}

.aqi-high{
    color: red;
}
